<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body id="index-body">
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="index-container">
    <div class="index-table">
    <table id="index-table" width="450" cellpadding="10" cellspacing="0">
      <tr class="food-cell">
      <td id="cell" width="140">Food</td>
      <td id="cell" width="130">Expiration</td>
      <td id="cell" width="130">Remove</td>
      </tr>
      <% for (let i = 0; i < items.length; i++) { %>
      <tr id="tab-food">
      <td class="in-name"id="tab-food">
        <a href="/items/<%=items[i].id%>">
          <%=items[i].name%>
        </a>
      </td>
      <td id="tab-food2">
        <a href="/items/<%=items[i].id%>">
          <%=items[i].expiration%>
        </a>
      </td>
      <td id="tab-food2">
        <form action="/items/<%=items[i].id%>?_method=DELETE" method="POST">
            <input id="delete-btn" type="image" value="delete" src="https://img.icons8.com/small/16/000000/delete-sign.png"/>
        </form>
      </td>
      </tr>
     <% } %>
   </table>
    </div>
    </div>
  </body>
</html>
