<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <h1 class="welcome-title-in">Stocked</h1>
      <% if(currentUser) { %>
      <a href="/items">Welcome <%=currentUser.username%></a>
      <form action="/sessions?_method=DELETE" method="post">
          <input class="logOutBtn" type="submit" value="Log Out">
      </form>
      <a href="/items">Back</a>
      <% } %>
    </nav>
    <div class="list-div">
    <h1 id="showH1"><%=items.name%></h1>
    <div class="list-item">
    <ul id="showUl">
      <li>Type: <%=items.type%></li>
      <li>Qty: <%=items.qty%></li>
      <li>Expiration: <%=items.expiration%></li>
      <li>Recipes: <%=items.url%></li>
    </ul>
    </div>
    <div class="showBtn">
    <form action="/items/<%=items.id%>?_method=DELETE" method="POST">
        <input id="delete-btn2" type="submit" value="Delete"/>
    </form>
    <a id="edit-btn" href="/items/<%=items.id%>/edit">Edit</a>
    </div>
    </div>
  </body>
</html>
