<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <h1 class="welcome-title-in">Stocked</h1>
      <% if(currentUser) { %>
      <a href="/items">Welcome <%=currentUser.username%></a>
      <a href="/items">Back</a>
      <form action="/sessions?_method=DELETE" method="post">
          <input class="logOutBtn" type="submit" value="Log Out">
      </form>
      <% } %>
    </nav>
    <h1 id="showH1">Show Page</h1>
    <ul id="showUl">
      <li>Item: <%=items.name%></li>
      <li>Type: <%=items.type%></li>
      <li>Expiration: <%=items.expiration%></li>
      <li>
        <% if (items.readyToEat === true) { %>
          Ready to Eat
        <% } else { %>
          Not ready to eat
        <%  } %>
      </li>
    </ul>
    <nav>
      <form action="/items/<%=items.id%>?_method=DELETE" method="POST">
          <input id="delete-btn2" type="submit" value="Delete"/>
      </form>
      <a href="/items/<%=items.id%>/edit">Edit</a>
    </nav>
  </body>
</html>
